@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #503431;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: -1px;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 150px;
  align-items: center;
  background: #e6bcae;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5a4b48;
  mix-blend-mode: overlay;
}
html, body {
  color: #685048;
  font-size: 16px;
  line-height: 20px;
}
h1 {
  line-height: 1.2;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

.container {
  margin: 0 auto 35px;
  max-width: 450px;
}

.form-field {
  display: block;
  margin-bottom: 16px;
}
.form-field--is-active .form-field__control::after {
  border-bottom: 2px solid #bb826f;
  transform: scaleX(150);
}
.form-field--is-active .form-field__label {
  color: #bb826f;
  font-size: 0.75rem;
  transform: translateY(-14px);
}
.form-field--is-filled .form-field__label {
  font-size: 0.75rem;
  transform: translateY(-14px);
}

.form-field__label {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 18px 12px 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
}

.form-field__control {
  background: #eee;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.form-field__control::after {
  border-bottom: 2px solid #bb826f;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 0.4s;
  width: 1%;
}

.form-field__input,
.form-field__textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #333;
  display: block;
  font-size: 1.2rem;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 12px;
  width: 100%;
}

.form-field__textarea {
  height: 150px;
}

.send {
  position: absolute;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  z-index: 99;
 }
 
 .send:hover {
  background-color: #e47c5f;
  box-shadow: 0px 15px 20px rgba(212, 82, 50, 0.4);
  color: #fff;
  transform: translateY(-7px);
 }
 
 .send:active {
  transform: translateY(-1px);
 }