@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
.webmadewell {
  background-color: white;
}
body {
  margin: 0;
}
.sample-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("https://cdn.wallpapersafari.com/23/28/vsXMib.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sample-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(100, 56, 27);
  opacity: 0.3;
}
.sample-header-section {
  position: relative;
  padding: 10% 0 10%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: 500;
  font-size: 4em;
}
h2 {
  font-weight: 400;
}
.sample-section-wrap {
  position: relative;
  background-color: white;
}
.sample-section {
  position: relative;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}